<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.cmpt276.parentapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".timer.NotificationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParentApp"
        tools:ignore="AllowBackup">
        <activity
            android:name=".flipcoin.FlipCoinQueue"
            android:exported="true" />
        <activity
            android:name=".configurechildren.ChildConfigurationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".flipcoin.FlipCoinHistory"
            android:exported="false"
            android:parentActivityName=".flipcoin.FlipCoinActivity" />
        <activity
            android:name=".flipcoin.FlipCoinActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".timer.TimerActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ParentApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".timer.TimerService" />

        <receiver android:name=".timer.NotificationReceiver" />
    </application>

</manifest>